si-schema-translator/src/test/resources/schemas/xml/visitor/role-test-input.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="test-ns"
            targetNamespace="test-ns"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:element name="handler">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child1" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="validating-Filter" type="xsd:string"/>

    <xsd:element name="dynamicRouter" type="xsd:string"/>

    <xsd:element name="messageTransformer">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="childKey" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="connector">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="channelType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="channelType">
        <xsd:attribute name="attr1" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>