xsd-parser/si-xsd-parser-cli/src/test/resources/schemas/xml/visitor/connection-type-test-input.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="test-ns"
            targetNamespace="test-ns"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:element name="requestReplyElement">
        <xsd:complexType>
            <xsd:attribute name="request-channel" type="xsd:string"/>
            <xsd:attribute name="reply-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="outboundGateway" type="xsd:string"/>

    <xsd:element name="outbound-gateway-with-attrs" type="xsd:string">
        <xsd:complexType>
            <xsd:attribute name="request-channel" type="xsd:string"/>
            <xsd:attribute name="reply-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="test-inbound-gateway" type="xsd:string">
        <xsd:complexType>
            <xsd:attribute name="request-channel" type="xsd:string"/>
            <xsd:attribute name="reply-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="tee-type-element">
        <xsd:complexType>
            <xsd:attribute name="input-channel" type="xsd:string"/>
            <xsd:attribute name="output-channel" type="xsd:string"/>
            <xsd:attribute name="discard-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="validating-Filter" type="xsd:string">
        <xsd:complexType>
            <xsd:attribute name="request-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="example-Router" type="xsd:string">
        <xsd:complexType>
            <xsd:attribute name="input-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="InboundElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child1" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="output-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="source">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="base-inBound-type"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="example-Outbound">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child1" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="input-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="sink">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="OutboundType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="example-message-driven">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child1" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="reply-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="handler">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child1" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="discard-channel" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="base-inBound-type">
        <xsd:attribute name="attr1" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="OutboundType">
        <xsd:attribute name="attr1" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>