si-xsd-parser/src/test/resources/schemas/xml/visitor/element-name-overlap.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="test-ns"
            targetNamespace="test-ns"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:element name="type-router" type="typeRouterType"/>

    <xsd:element name="basic-router" type="basicRouterType"/>

    <xsd:element name="value-router" type="valueRouterType"/>


    <xsd:complexType name="typeRouterType">
        <xsd:sequence>
            <xsd:element name="mapping" type="mappingTypeChannelType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="basicRouterType">
        <xsd:sequence>
            <xsd:element name="mapping" type="mappingValueChannelType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="valueRouterType">
        <xsd:sequence>
            <xsd:element name="mapping" type="mappingValueChannelType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="mappingTypeChannelType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="mappingValueChannelType">
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>