xsd-parser/si-xsd-parser-cli/src/test/resources/schemas/xml/end-to-end/ns1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.example.com/schema/ns1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.com/schema/ns1"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="adapter">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="header" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="timeout" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="skip-element">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="header" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="timeout" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="poller" type="xsd:string"/>

</xsd:schema>